@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
body {
	text-align:center;
	margin:0;
	background-color:#ccc;
	font-family:Lato;
}
h1 { font-size:2.5em; }
#card {
	width:600px;
	height:300px;
	background-color:#D4FED8;
	border-radius:20px;
	margin:0 auto;
	padding:20px 0;
}

#color {
	width:inherit;
	height:80px;
	background-color:#57D848;
}
#pass {
	margin:20px 0;
	font-size:5.5em;	
}
input {
	font-size:1.5em;
	padding:5px;	
	text-align:center;
}
#resultado {
	margin:20px 0;
	font-size:2em;
}